<ion-header>
	<!-- Toolbar theme -->
	<ion-toolbar color="primary">
		<ion-title>Deaths</ion-title>
	</ion-toolbar>
	<ion-toolbar>
		<!-- https://ionicframework.com/docs/api/searchbar -->
		<!-- https://www.freecodecamp.org/news/how-to-build-your-first-ionic-4-app-with-api-calls-f6ea747dc17a/ -->
		<!-- The search bar. Everytime something is typed the function searchDeathCount will be called -->
		<!-- The value typed by the user will be store in the ngModel called responsible -->
		<ion-searchbar [(ngModel)]="responsible" (ionChange)="searchDeathCount($event)"
			placeholder="Search Deaths by Responsible"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card *ngIf="death">
		<ion-card-content>
			<b>Responsible:</b> {{ death.name }}
			<b>Death Count:</b> {{ death.deathCount }} 
		</ion-card-content>
	</ion-card>
</ion-content>