<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start" defaultHref="/tabs/characters">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title> {{ character?.name }}</ion-title>
        <ion-buttons slot="end">
			<ion-button (click)="neutreCharacter()" *ngIf="isLiked">
				<ion-icon name="thumbs-up" slot="icon-only"></ion-icon>
			</ion-button>
			<ion-button (click)="likeCharacter()" *ngIf="!isLiked">
				<ion-icon name="thumbs-up-outline" slot="icon-only"></ion-icon>
			</ion-button>
            <ion-button (click)="neutreCharacter()" *ngIf="isDisliked">
				<ion-icon name="thumbs-down" slot="icon-only"></ion-icon>
			</ion-button>
			<ion-button (click)="dislikeCharacter()" *ngIf="!isDisliked">
				<ion-icon name="thumbs-down-outline" slot="icon-only"></ion-icon>
			</ion-button>
        </ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card *ngIf="character">
		<ion-card-content>
            <p>Id: {{ character.char_id }} </p>
			<p>Name: {{ character.name }} </p>
            <p>Birthday: {{ character.birthday }}</p>
            <p>Occupation: {{ character.occupation }}</p>
            <p>Status: {{ character.status }}</p>
            <p>Appearance: {{ character.appearance }}</p>
            <p>Nickname: {{ character.nickname }}</p>
            <p>Portrayed: {{ character.portrayed }}</p>
            <img src={{character.img}} alt={{character.name}}/>
		</ion-card-content>
	</ion-card>
</ion-content>