<ion-header>
	<!-- Toolbar theme -->
	<ion-toolbar color="primary">
		<ion-title>Characters</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-list>
		<!-- Using ngFor for go through all the characters, 
			defining the funtion that will be called for show the details of each character-->
		<ion-item button detail lines="inset" *ngFor="let character of characters" (click)="openDetails(character)">
			<!-- https://ionicframework.com/docs/api/avatar -->
			<!-- Using a the ion-avatar showing the image of each character -->
			<ion-avatar slot="start">
				<img src="{{ character.img }}">
			</ion-avatar>
			<!-- Showing the name of each character -->
            {{ character.name }}
		</ion-item>
	</ion-list>

	<!--https://www.youtube.com/watch?v=NBeExE9dvR0 - the code was based on this solution -->
	<!--https://ionicframework.com/docs/api/infinite-scroll -->
	<!-- The function loadData will load more characters in the characters array -->
	<ion-infinite-scroll threshold="30%" (ionInfinite)="loadData($event)">
		<ion-infinite-scroll-content loading-spinner="dots" loading-text="Loading more characters...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>